<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI1lFiTPj_ZS44cGVCioem401Mvut8kJA&libraries=geometry&sensor=false"></script>
        <!--<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/maplabel/src/maplabel-compiled.js"></script> is in minimized file-->

        <link rel="stylesheet" href="<%= fullURL%>/dist/norris-nrti.complete.min.css"/>
<!--        <link rel="stylesheet" href="<%= fullURL%>/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        
        <script src='<%= fullURL%>/bower_components/sio-client/socket.io.js'></script>
        <script src="<%= fullURL%>/bower_components/angular/angular.min.js"></script>
        <script src="<%= fullURL%>/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="<%= fullURL%>/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="<%= fullURL%>/bower_components/angular-route/angular-route.js"></script>
        <script src="<%= fullURL%>/bower_components/d3/d3.min.js"></script>
        <script src="<%= fullURL%>/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
     -->   
        <script src="<%= fullURL%>/dist/norris-nrti.complete.js"></script>
        
    </head>
    <body ng-app='norris-nrti' ng-controller="RootController" ng-init="url = '<%= fullURL%>'">
        <div ng-view></div>
    </body>
</html>