<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI1lFiTPj_ZS44cGVCioem401Mvut8kJA&libraries=geometry&sensor=false"></script>
        <!--<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/maplabel/src/maplabel-compiled.js"></script> is in minimized file-->

		<script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
		
        <link rel="stylesheet" href="<%= fullURL%>/dist/norris-nrti.complete.css"/>
<!--        <link rel="stylesheet" href="<%= fullURL%>/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        
        <script src='<%= fullURL%>/bower_components/sio-client/socket.io.js'></script>
        <script src="<%= fullURL%>/bower_components/angular/angular.min.js"></script>
        <script src="<%= fullURL%>/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="<%= fullURL%>/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="<%= fullURL%>/bower_components/angular-route/angular-route.js"></script>
        <script src="<%= fullURL%>/bower_components/d3/d3.min.js"></script>
        <script src="<%= fullURL%>/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
     -->   
        <script src="<%= fullURL%>/dist/norris-nrti.complete.js"></script>
        
    </head>
    <body ng-app='norris-nrti' ng-controller="RootController" ng-init="url = '<%= fullURL%>'">
        <div ng-view></div>
		<!--<h1>graph.ejs <%= norrisNamespace%></h1>
        <div id="map-canvas"></div>
        <div id="log"></div>     
        
        <script type="text/javascript"> 
            
            var socket = io.connect('<%= fullURL%>');
            socket.on("configGraph", function (data) {
                console.log(JSON.stringify(data)); 
                document.getElementById("log").innerHTML+='configGraph: '+JSON.stringify(data)+"<br /><br />";
                
            });
            socket.on("updateGraphProp", function (data) {
                console.log(JSON.stringify(data)); 
                document.getElementById("log").innerHTML+='updateGraphProp: '+JSON.stringify(data)+"<br /><br />";
                //socket.emit("receivedMessage", data);
            });
            socket.on("updateFlowData", function (data) {
                console.log(JSON.stringify(data)); 
                document.getElementById("log").innerHTML+='updateFlowData: '+JSON.stringify(data)+"<br /><br />";
                //socket.emit("receivedMessage", data);
            });
            socket.on("deleteFlow", function (data) {
                console.log(JSON.stringify(data)); 
                document.getElementById("log").innerHTML+='deleteFlow: '+JSON.stringify(data)+"<br /><br />";
                //socket.emit("receivedMessage", data);
            });
            socket.on("insertFlow", function (data) {
                console.log(JSON.stringify(data)); 
                document.getElementById("log").innerHTML+='insertFlow: '+JSON.stringify(data)+"<br /><br />";
                //socket.emit("receivedMessage", data);
            });
        </script>-->
    </body>
</html>