<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI1lFiTPj_ZS44cGVCioem401Mvut8kJA&libraries=geometry&sensor=false"></script>
        <!--<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/maplabel/src/maplabel-compiled.js"></script> is in minimized file-->

		<script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>		
		
        <link rel="stylesheet" href="<%= fullURL%>/dist/norris-nrti.complete.css"/>
<!--        <link rel="stylesheet" href="<%= fullURL%>/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        
        <script src='<%= fullURL%>/bower_components/sio-client/socket.io.js'></script>
        <script src="<%= fullURL%>/bower_components/angular/angular.min.js"></script>
        <script src="<%= fullURL%>/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="<%= fullURL%>/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="<%= fullURL%>/bower_components/angular-route/angular-route.js"></script>
        <script src="<%= fullURL%>/bower_components/d3/d3.min.js"></script>
        <script src="<%= fullURL%>/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
     -->   
        <script src="<%= fullURL%>/dist/norris-nrti.complete.js"></script>
        
    </head>
    <body ng-app='norris-nrti' ng-controller="RootController" ng-init="url = '<%= fullURL%>'">
        <div ng-view></div>
		<h1>page.ejs <%= norrisNamespace%></h1>
        <div id="log"></div>
        <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>        
        <script> 
        var socket = io.connect('<%= fullURL%>');
        socket.on("configPage", function (data) {
            console.log(JSON.stringify(data)); 
            document.getElementById("log").innerHTML+='configPage: '+JSON.stringify(data)+"<br /><br />";
            //socket.emit("receivedMessage", data);
        });
        socket.on("updatePageProp", function (data) {
            console.log(JSON.stringify(data)); 
            document.getElementById("log").innerHTML+='updatePageProp: '+JSON.stringify(data)+"<br /><br />";
            //socket.emit("receivedMessage", data);
        });
		socket.on("updateGraph", function (data) {
            console.log(JSON.stringify(data)); 
            document.getElementById("log").innerHTML+='updateGraph: '+JSON.stringify(data)+"<br /><br />";
            //socket.emit("receivedMessage", data);
        });
		socket.on("insertGraph", function (data) {
            console.log(JSON.stringify(data)); 
            document.getElementById("log").innerHTML+='insertGraph: '+JSON.stringify(data)+"<br /><br />";
            //socket.emit("receivedMessage", data);
        });
        </script>
    </body>
</html>